<!-- Jumbotron============================================================ -->
<div id="home"></div>
<div class="container-fluid jumbotron">
	<div class="">
		<h1>Viernes Friki</h1>
		<p>Tecnología | Diseño | Cultura Friki</p>
		<a href="#contacto"><button type="button" class="btn btn-default" id="btn-hello">Di Hola</button></a>
		<a href="https://soundcloud.com/user-574733486"><button type="button" class="btn btn-default" id="btn-podcast">Podcast</button></a>
	</div><!-- jumbotron -->
</div><!-- container-fluid -->
