<!-- Jumbotron============================================================ -->
<%= flash[:notice] %>

<div id="home"></div>
<div class="container-fluid jumbotron">
	<div class="">
		<h1>Viernes Friki</h1>
		<p>Tecnología | Diseño | Cultura Friki</p>
		<a href="#contacto"><button type="button" class="btn btn-default" id="btn-hello">Di Hola</button></a>
		<a href="episodes#index"><button type="button" class="btn btn-default" id="btn-podcast">El Show</button></a>
	</div><!-- jumbotron -->
</div><!-- container-fluid -->

<!-- Hero Image============================================================ -->
<div class="container-fluid hero-unit">
	<div class="row">
		<%= image_tag("hero_2192x900.jpg", :class => "img-responsive center-block") %>
	</div>
	<!-- Static hero image -->
</div><!-- container-fluid -->

<!-- Thumbnails============================================================ -->
<div class="container" id="team">
	<h2 class="page-header home-header">¿Qué es?</h2>
	<div class="row">
		<div class="col-sm-6">
			<div class="thumbnail">
				<%= image_tag("team-4.png", :alt => "Team Icon") %>
				<div class="caption">
					<h3>Sobre el "Team"</h3>
					<p>Intelligentsia mumblecore thundercats flannel, 8-bit fap iPhone gluten-free ethical cold-pressed locavore readymade sartorial authentic. Organic kinfolk ugh scenester, etsy chicharrones tote bag offal food truck farm-to-table air plant. Tbh mustache echo park, church-key flexitarian intelligentsia listicle raclette.</p>
				</div><!-- caption -->
			</div><!-- thumbnail -->
		</div><!-- col-sm-6 -->

		<div class="col-sm-6">
			<div class="thumbnail">
				<%= image_tag("podcast-4.png", :alt => "Podcast Icon") %>
				<div class="caption">
					<h3>El Show</h3>
					<p>Coloring book thundercats freegan, hell of you probably haven’t heard of them cronut beard williamsburg selvage selfies yuccie sriracha succulents viral. Cronut hoodie viral crucifix, flexitarian snackwave lumbersexual marfa tattooed tilde banh mi. Vice mumblecore pabst health goth bitters selfies.</p>
				</div><!-- caption -->
			</div><!-- thumbnail -->
		</div><!-- col-sm-6" -->
		
	</div><!-- End of row -->

	<a href="episodes#index"><button type="button" class="btn btn-default btn-round">El Show</button></a>
</div><!-- container -->

<!-- Contact Form============================================================ -->
		
<div class="container" id="contacto">
	<h2 class="page-header home-header">Contacto</h2>
	<p class="lead">¿Quieres decirnos “hola”? O tal vez tengas un comentario que quieras hacer sobre uno de nuestros episodios del Podcast. Entonces, llena el formulario abajo y dinos lo que está en tu mente. No te prometemos una respuesta, pero será muy divertido para nosotros leer lo que opinas.</p>
	<form>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="inputName">Nombre</label>
					<input type="text" class="form-control" id="inputName" placeholder="Nombre">
				</div><!-- form-group -->
			</div><!-- col-md-6 -->

			<div class="col-md-6">
				<div class="form-group">
					<label for="inputEmail">Email Address</label>
					<input type="email" class="form-control" id="inputEmail" placeholder="Email">
				</div><!-- form-group -->
			</div><!-- col-md-6 -->
		</div><!-- row -->

		<div class="form-group">
			<label for="comment">Comentario:</label>
				<textarea class="form-control" rows="5" id="comment" placeholder="Comentario"></textarea>
		</div><!-- form-group -->

		<button type="submit" class="btn btn-default btn-round submit-bottom">Submit</button>
	</form>
	
</div><!-- container-fluid -->
