<h3>Success!</h3>
<div class="panel panel-default">
	<div class="panel-body">
		<p>Gracias por comunicarte. Te responderemos tan pronto como sea posible.</p>
	</div><!-- panel body -->
</div><!-- panel -->