<div class="container-fluid">
  <div class="page-header">
    <h3>Editing Episode</h3>
  </div><!-- page-header -->
</div><!-- container-fluid -->

<div class="container-fluid">
	<%= render 'form' %>

	<%= link_to 'Show', @episode %> |
	<%= link_to 'Back', episodes_path %>
</div>


